<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment::head"></head>
<body>
<!--modal forms-->
<div th:include="modal-fragments::addgroupform"></div>
<div th:include="modal-fragments::import-data"></div>
<div th:include="modal-fragments::contactlist"></div>
<!--end modal forms-->


<div class="container">
    <div th:include="fragment::appcenter-nav-fragment"></div>
</div>
<div class="container">
    <div class="row">
        <h3>Contacts Management</h3>
    </div>
    <div class="row">
        <div class="navbar">
            <ul class="nav nav-pills">
                <li><a href="#">Manage Groups</a></li>
            </ul>
        </div>
        <div class="well">
            <button class="btn btn-primary " data-toggle="modal" data-target="#addgroupform">
                Add Group
            </button>
        </div>
    </div>
    <div id="group-listing">
        <div class="table-responsive">
            <table id="group-listing-table" class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Contacts count</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${usergroups}">
                    <td th:text="${group.name}">Oranges</td>
                    <td th:text="${#lists.size(group.recipients)}">0</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                Operations <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="contacts-import" data:groupid="${group.groupid}" data:groupname="${group.name}" href="#import-data" data-toggle="modal" data-target="#import-data">Import data</a></li>
                                <li><a class="contacts-list" data:groupid="${group.groupid}" href="#contactlist" data-toggle="modal" data-target="#contactlist">Members</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Export Data</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div th:include="fragment::jscripts"></div>
</body>
</html>