<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment::head"></head>
<body>
<div th:include="modal-fragments::quicksms-results"></div>
<div class="container">
    <div th:include="fragment::appcenter-nav-fragment"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h3>Quick SMS</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form id="quick-sms" action="/quicksms" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="recipient-list"><span class="glyphicon glyphicon-phone"></span> <span> Recipients </span><span class="small">(Enter one number per line)</span>
                    </label>
                    <textarea id="recipient-list" name="recipient-list" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <div class="controlgroup"><span class="pull-left"><label><span class="glyphicon glyphicon-envelope"></span> Message </label></span><span class="pull-right"><label class="sms-units"> SMS: 1</label></span></div>

                    <textarea id="messagetext" name="message" rows="5" class="form-control"></textarea>
                    <label class="pull-right"><span class="chars-left small">Characters left: 160</span> </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div th:include="fragment::jscripts"></div>
</body>
</html>